.theme {
  &__switcher {
    width: 50px;
    height: 28px;
    background-color: transparent;
    border: 2px solid var(--switcherBorder);
    border-radius: 28px;
    position: relative;
    transition: var(--transition);

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 480px) {
      width: 30px;
      height: 18px;
    }
  }

  &__toggler {
    width: 27px;
    height: 27px;
    border: 2px solid var(--togglerBorder);
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: -1px;
    transform: translateX(0px);
    transition: var(--transition);

    @media (max-width: 480px) {
      width: 16px;
      height: 16px;
      left: -1px;
    }

    &.light {
      transform: translateX(21px);
      transition: var(--transition);

      @media (max-width: 480px) {
        transform: translateX(14px);
      }
    }
  }
}
