@import '@styles/variables.scss';
@import '@styles/templates.scss';

.header {
  &__link {
    color: var(--navLinkColor);
    font-weight: var(--fw-light);
    line-height: calc(40 / 20 * 100%);
    user-select: none;
    white-space: nowrap;
    transition: (--transition);
    @extend %buttonHover;
    @extend %buttonActive;

    a.active {
      color: var(--green);
      transition: (--transition);
    }
  }
}
