@import '@styles/variables.scss';
@import '@styles/templates.scss';

.error {
  @extend %flexColumn;
  min-height: 100vh;
  row-gap: 20px;
  color: var(--black2);

  &__title {
    font-size: 25px;
  }

  &__text {
    font-size: 20px;
  }
}
