@import './nullstyle.scss';
@import './variables.scss';
@import './templates.scss';

%pagePagging {
  padding: 0 10px;

  @media (max-width: 480px) {
    padding: 0 10px;
  }
}

.container {
  max-width: 1400px;
  margin: 0px auto;
  box-sizing: content-box;

  @extend %pagePagging;
}
