@import './variables.scss';

%pagePagging {
  padding: 0 25px;

  @media (max-width: 480px) {
    padding: 0 20px;
  }
}

%buttonHover {
  transition: var(--transition);

  &:hover {
    cursor: pointer;
    transition: var(--transition);
    opacity: 0.6;
  }
}

%buttonActive {
  transition: var(--transition);

  &:active {
    transition: var(--transition);
    transform: var(--buttonPressedTransform);
  }
}

%gradientText {
  color: transparent;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
