:root {
  --Poppins: 'Poppins';
  --black: #030304;
  --black2: #202025;
  --white: #fff;
  --white2: #d9d9d9;
  --green: #00ce2c;
  --green2: #2a4628;
  --green3: #2c4d54;
  --green4: #2c4d54;

  --transition: all 0.3s ease;
  --buttonPressedTransform: scale(0.95);
  --gray: #898989;
  --gray2: #607d94;
  --gray3: #474747;
  --gray4: #494f57;
  --brown: #5a4b2c;
  --brown2: #3d2e28;
  --red: #452534;
  --blue: #142e67;
  --blue2: #1d324b;

  --text-gradient: linear-gradient(92deg, #00ce2c 0%, #aedf23 49.26%, #a3dc00 100%);

  --banner-gradient: linear-gradient(66deg, rgba(0, 0, 0, 1) 0%, rgba(36, 121, 64, 0.3) 52%, rgba(0, 0, 0, 1) 100%);
}

.app.dark {
  --bg: var(--black);

  --navLinkColor: var(--white);
  --switcherBorder: var(--white);
  --togglerBorder: var(--white);

  --update-time: var(--white2);

  --currency-card-bg: var(--black2);
  --currency-card-border: var(--gray3);
  --currency-card-title: var(--white2);
  --currency-card-cost: var(--gray);

  --currency-symbol-bg-1: var(--green2);
  --currency-symbol-bg-2: var(--brown);
  --currency-symbol-bg-3: var(--red);
  --currency-symbol-bg-4: var(--gray4);
  --currency-symbol-bg-5: var(--blue);
  --currency-symbol-bg-6: var(--gray);
  --currency-symbol-bg-7: var(--blue2);
  --currency-symbol-bg-8: var(--brown2);
  --currency-symbol-bg-9: var(--green3);
  --currency-symbol-bg-10: var(--green4);

  --modal-bg: var(--black2);
  --modal-title: var(--white);
  --modal-text: var(--white);
  --modal-select-border: var(--white);

  --contacts-text: var(--white2);
  --contacts-title: var(--white);

  --footer-title: var(--white);
  --footer-text: var(--white2);
  --footer-links: var(--gray);
  --footer-copyright: var(--gray);
}

.app.light {
  --bg: var(--white);

  --navLinkColor: var(--black);
  --switcherBorder: var(--green);
  --togglerBorder: var(--green);

  --update-time: var(--black2);

  --currency-card-bg: var(--white2);
  --currency-card-border: var(--white);
  --currency-card-title: var(--black);
  --currency-card-cost: var(--black2);

  --currency-symbol-bg-1: var(--green2);
  --currency-symbol-bg-2: var(--brown);
  --currency-symbol-bg-3: var(--red);
  --currency-symbol-bg-4: var(--gray4);
  --currency-symbol-bg-5: var(--blue);
  --currency-symbol-bg-6: var(--gray);
  --currency-symbol-bg-7: var(--blue2);
  --currency-symbol-bg-8: var(--brown2);
  --currency-symbol-bg-9: var(--brown2);
  --currency-symbol-bg-10: var(--brown2);

  --modal-bg: var(--white);
  --modal-title: var(--black2);
  --modal-text: var(--black2);
  --modal-select-border: var(--black);

  --contacts-title: var(--black);
  --contacts-text: var(--black);

  --footer-title: var(--black);
  --footer-text: var(--black);
  --footer-links: var(--black);
  --footer-copyright: var(--black);
}
