:root {
  --Poppins: 'Poppins';
  --black: #030304;
  --white: #fff;
  --white2: #d9d9d9;
  --green: #00ce2c;
  --transition: all 0.3s ease;
  --buttonPressedTransform: scale(0.95);
  --gray: #898989;
  --gray2: #607d94;

  --text-gradient: linear-gradient(92deg, #00ce2c 0%, #aedf23 49.26%, #a3dc00 100%);

  --banner-gradient: linear-gradient(66deg, rgba(0, 0, 0, 1) 0%, rgba(36, 121, 64, 0.3) 52%, rgba(0, 0, 0, 1) 100%);
}

.app.dark {
  --bg: var(--black);

  --navLinkColor: var(--white);
  --switcherBorder: var(--white);
  --togglerBorder: var(--white);

  --footer-title: var(--white);
  --footer-text: var(--white2);
  --footer-links: var(--gray);
  --footer-copyright: var(--gray);
}

.app.light {
  --bg: var(--white2);

  --navLinkColor: var(--black);
  --switcherBorder: var(--green);
  --togglerBorder: var(--green);

  --footer-title: var(--black);
  --footer-text: var(--black);
  --footer-links: var(--black);
  --footer-copyright: var(--black);
}
