:root {
  --Poppins: 'Poppins';
  --black: #030304;
  --white: #fff;
  --white2: #d9d9d9;
  --green: #00ce2c;
  --transition: all 0.3s ease;
  --buttonPressedTransform: scale(0.95);
  --text-gradient: linear-gradient(92deg, #00ce2c 0%, #aedf23 49.26%, #a3dc00 100%);
}

.app.dark {
  --bg: var(--black);

  --navLinkColor: var(--white);
  --switcherBorder: var(--white);
  --togglerBorder: var(--white);
}

.app.light {
  --bg: var(--white2);

  --navLinkColor: var(--black);
  --switcherBorder: var(--green);
  --togglerBorder: var(--green);
}
