@import '@styles/variables.scss';
@import '@styles/templates.scss';

.currencies {
  @extend %pageContent;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 56px;

    @media (max-width: 1100px) {
      gap: 30px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__currency {
    justify-self: center;
  }
}
