@import '@styles/variables.scss';
@import '@styles/templates.scss';

.timeline {
  @extend %pageContent;

  &__container {
    display: flex;
    flex-direction: column;
  }
}

.graph {
  display: flex;
  flex-direction: column;
}
