.time {
  display: inline-block;
  color: var(--update-time);
  transition: var(--transition);
  font-size: 32px;
  font-weight: 300;
  line-height: 200%;
  text-align: center;
  margin-bottom: 65px;
  padding-left: 35px;
  align-self: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url('@assets/icons/upadate-time.svg') center center no-repeat;
    border-radius: 50%;
    animation: link 2s ease-in-out infinite;
  }

  @media (max-width: 992px) {
    font-size: 26px;
    margin-bottom: 40px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@keyframes link {
  0% {
    box-shadow: var(--green) 0 0 0;
  }
  70% {
    box-shadow: var(--green5) 0 0 0 8px;
  }
}
