@import '@styles/variables.scss';
@import '@styles/templates.scss';

.banks {
  @extend %flexColumn;
  @extend %pageContent;
  align-items: center;

  &__title {
    color: var(--banks-title);
    font-family: var(--font-main);
    font-size: var(--fz-jumbo);
    margin-bottom: 24px;
    transition: var(--transition);

    @media (max-width: 992px) {
      font-size: var(--fz-heading-large);
    }

    @media (max-width: 768px) {
      font-size: var(--fz-heading-small);
    }
  }

  &__input {
    margin-bottom: 60px;

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
  }
}
